<div>
  <h2 id="page-heading" data-cy="RestaurateurHeading">
    <span jhiTranslate="coopCycleApp.restaurateur.home.title">Restaurateurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopCycleApp.restaurateur.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-restaurateur"
        [routerLink]="['/restaurateur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopCycleApp.restaurateur.home.createLabel"> Create a new Restaurateur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="restaurateurs?.length === 0">
    <span jhiTranslate="coopCycleApp.restaurateur.home.notFound">No restaurateurs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="restaurateurs && restaurateurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nRestaurant">
            <span jhiTranslate="coopCycleApp.restaurateur.nRestaurant">N Restaurant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresseRestaurant">
            <span jhiTranslate="coopCycleApp.restaurateur.adresseRestaurant">Adresse Restaurant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomRestaurant">
            <span jhiTranslate="coopCycleApp.restaurateur.nomRestaurant">Nom Restaurant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let restaurateur of restaurateurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/restaurateur', restaurateur.id, 'view']">{{ restaurateur.id }}</a>
          </td>
          <td>{{ restaurateur.nRestaurant }}</td>
          <td>{{ restaurateur.adresseRestaurant }}</td>
          <td>{{ restaurateur.nomRestaurant }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/restaurateur', restaurateur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/restaurateur', restaurateur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(restaurateur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="restaurateurs && restaurateurs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
